[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = van1dal
	email = van1dalgrr@gmail.com
[push]
	autoSetupRemote = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = rose-pine
	minus-style = "syntax \"#3d2a38\""
	minus-emph-style = "syntax \"#5c3b4f\""
	plus-style = "syntax \"#233a40\""
	plus-emph-style = "syntax \"#2d4f57\""
	file-style = "bold \"#c4a7e7\""
	file-decoration-style = "\"#c4a7e7\" ul"
	hunk-header-style = file line-number syntax
	hunk-header-decoration-style = "\"#6e6a86\" box"
	line-numbers-minus-style = "\"#eb6f92\""
	line-numbers-plus-style = "\"#9ccfd8\""
	line-numbers-zero-style = "\"#6e6a86\""
[merge]
	conflictStyle = zdiff3
[diff]
	colorMoved = default
	algorithm = histogram
[init]
	defaultBranch = main
[fetch]
	prune = true
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[help]
	autocorrect = prompt
[rebase]
	autoStash = true
[column]
	ui = auto
